nodejs latest
ruby latest
bitwarden latest
bundler latest
deno latest
elixir latest
erlang latest
exa latest
github-cli latest
golang latest
haskell latest
imagemagick latest
java latest
julia latest
lua latest
make latest
ocaml latest
opam latest
pnpm latest
postgres latest
python latest
redis latest
ripgrep latest
rust latest
sqlite latest
stack latest
tmux latest
yarn latest
